#main-content {
  display: flex;
  flex-direction: column;
  border: 2px solid red;
  height: 800px;
}

.listings {
  border: 2px solid black;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 5%;
}

.list-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 10px;
}

.list-num {
  margin-right: 10px;
}


#jobs-container {
  display: flex;
  flex-direction: column;
}

.job-post {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 70%;
  margin-left: 3%;
}

#events-container {
  display: flex;
  justify-content: row;
  flex-wrap: wrap;
}

.event-post {
  display: flex;
  width: 40%;
  flex-direction: row;
}

.event-content {
  margin-left: 5%;
}
