#main-nav {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  background-color: #f4f4f4;
  padding-top: 5px;
}

.logo {
  text-align: center;
  margin-right: auto;
  padding-left: 20px;
}

a {
  text-decoration: none;
  text-align: center;
  color: #34495e;
}

a:hover {
  color: #718daa;
}

li {
  padding-right: 20px;
  padding-top: 20px;
}

ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style: none;
}
