#basicInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

#profileDetails {
  display: flex;
  flex-direction: column;
}

ol {
  list-style: none;
}
