h2 {
  color: pink;
  background-color: black;
}

#input-bar {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  margin-bottom: 20px;
}

#task-container {
  display: flex;
  flex-flow: row wrap;
}

.task {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 2px solid black;
  width: 70%;
}

.task-name, .due-date {
  width: 50%;
}
